{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">List of Books</h1>
{% for book in books%}
    <div class="card mb-3">
        <div class="card-body">
           <h2 class="card-title">
               <a href="{% url 'book_detail' book.pk %}">{{book.title}}</a>
               by {{book.author.name}} {{book.author.surname}}
           </h2>
            <a href="{% url 'book_delete' book.pk %}">Delete</a>
        </div>
    </div>

    {% empty %}
        <p>No books found.</p>
    {% endfor %}
    <a href="{% url 'book_create'%}">Add Book</a>
{% endblock %}